body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f8fa;
    color: #333;
}


.expenses-summary {
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.expenses-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f7f8fa;
    border-radius: 8px;
}


.actions {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 8%;
    text-decoration: none;
}
